page-type-of-behavior {
	.background {
		background-color: black;
	}

	ion-card.card {
		box-shadow: none;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 5px;
	}
	.toolbar-background-md{
		background: rgba(0, 0, 0, 0);
	}

}
